<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <meta charset="utf-8">
        <!--Import materialize.css-->
        {% load staticfiles %}
        <link type="text/css" rel="stylesheet" href="{% static 'materialize/css/materialize.min.css' %}"  media="screen,projection"/>
        <link rel="icon" type="image/png" href="{% static '/img/avatar-3774.jpg' %}" />
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>

        <section class="container">
            <div class="row">
                <div class="col m4"></div>
                <div class="col s12 m5">
                    <div class="card">
                        <div class="card-image">
                            <img src="{% static '/img/login.png' %}">
                            <span class="card-title"></span>
                        </div>
                        <div class="card-content">
                            <div class="row">
                                <form method="post" action="">
                                    <div class="row">
                                        {% for field in f %}
                                        <div class="input-field col s12">
                                            <i class="material-icons prefix">{{field.icon}}</i>
                                            {{field}}
                                            <label for="icon_prefix">{{field.label_tag}}</label>
                                        </div>
                                        {% endfor %}
                                        {% csrf_token %}
                                        <button type="submit" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">fingerprint</i></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--JavaScript at end of body for optimized loading-->
        <script type="text/javascript" src="{% static 'materialize/js/materialize.min.js' %}"></script>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                {% for msg in messages %}
                M.toast({html: '{{msg.message}}', classes: 'rounded'});
                 {% endfor %}
                 });
        </script>
    </body>
</html>
