{% extends "../index.html" %}

{% block body %}
<nav>
    <div class="nav-wrapper z-depth-2 purple lighten-2">
        <a href="#!" class="brand-logo">Clientes</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="nuevo"><i class="material-icons left">playlist_add</i>Nuevo</a></li>
            <li><a href="/clientes/"><i class="material-icons left">keyboard_return</i>Regresar</a></li>
        </ul>
    </div>
</nav>
<div class="row">
    <div class="col s12">
        <div class="card z-depth-3">
            <form method="POST" action="">
                <div class="card-content">
                    <span class="card-title">{{mensaje}}</span>
                    {{f.as_p}}
                    {% csrf_token %}
                </div>
                <div class="card-action">
                    <button type="submit" class="waves-effect waves-light btn blue"><i class="material-icons left">save</i> Guardar</button>
                    <a href="/clientes/" class="waves-effect waves-light btn red"><i class="material-icons left">cancel</i> Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
{% block js %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems, {});
    });
</script>
{% endblock %}
